.main-slider-sec {
    margin-top: 24px;

    .owl-dots {
        position: absolute;
        bottom: 45px;
        left: 50%;
        transform: translateX(-50%);

        @media (max-width:767px) {
            bottom: 10px;
        }

        .owl-dot {
            outline: none;
            box-shadow: none;
            border: none;

            span {
                display: block;
                margin: 0 3.5px;
                border-radius: 50%;
                width: 10px;
                height: 10px;
                background: rgba(#000000, 0.5);
                @include transition(all 0.3s ease-in-out);

                &:hover {
                    background: rgba(#fff, 1);
                }
            }

            &.active {
                span {
                    background: rgba(#fff, 1);
                }
            }
        }
    }

    .owl-stage-outer {
        border-radius: 20px;
    }

    .item {
        border-radius: 20px;
        max-height: 450px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            border-radius: 20px;
            height: 100%;
        }
    }
}

.cats-sec {
    .owl-stage-outer {
        padding-top: 61px;
        padding-bottom: 1px;
    }

    .owl-dots {
        text-align: center;
        margin-top: 25px;

        .owl-dot {
            outline: none;
            box-shadow: none;
            border: none;

            span {
                display: block;
                margin: 0 3.5px;
                border-radius: 50%;
                width: 10px;
                height: 10px;
                background: rgba(#000000, 0.5);
                @include transition(all 0.3s ease-in-out);

                &:hover {
                    background: rgba($seccolor, 1);
                }
            }

            &.active {
                span {
                    background: rgba($seccolor, 1);
                }
            }
        }
    }

    .owl-nav {
        &.owl-nav.disabled {
            display: block !important;

            @include small {
                display: none !important;
            }
        }

        margin: 0;
        position: absolute;
        width: 100%;
        top: 50%;

        .owl-prev {
            position: absolute;
            right: -27px;
        }

        .owl-next {
            position: absolute;
            left: -27px;
        }


        [class*=owl-] {
            span {
                color: $maincolor;
                font-size: 16px;
            }

            margin: 0;
            background-color: transparent;
            outline: none;
            box-shadow: none;
            border: none;

            &:focus {
                background-color: transparent;
                outline: none;
                box-shadow: none;
                border: none;
            }

            &:hover {
                background-color: transparent;
                outline: none;
                box-shadow: none;
                border: none;

                span {
                    color: $seccolor
                }
            }

            &:active {
                background-color: transparent;
                outline: none;
                box-shadow: none;
                border: none;
            }
        }
    }
}

.cat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .item-img {
        border-radius: 50%;
        background-color: #ffffff;
        box-shadow: 0px 0px 15px 0px rgba(1, 2, 2, 0.1);
        width: 175px;
        height: 175px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 3px solid transparent;
        overflow: hidden;
        @include transition(all 0.3s ease-in-out);
        margin-bottom: 22px;

        img {
            width: auto;
            height: auto;
            @include transition(all 0.5s ease-in-out);
        }
    }

    .cat-title {
        font-size: 18px;
        color: $maincolor;
        font-family: itc-bd;
        text-align: center;
        @include transition(all 0.3s ease-in-out);
    }

    &:hover {
        .item-img {
            border-color: $seccolor;
            box-shadow: none;

            img {
                transform: scale(1.05);
            }
        }

        .cat-title {
            color: $seccolor;
        }

    }
}

.products-sec {
    .products-header {
        font-size: 24px;
        font-family: itc-bd;
        color: $maincolor;
        text-align: center;
        margin-bottom: 16px;
    }

    .products-pargraph {
        font-size: 18px;
        color: #898988;
        text-align: center;
    }
}

.speciales {
    margin-top: 78px;
    padding-top: 74px;
    background-color: #f7f7f7;
    padding-bottom: 81px;

    @include small {
        margin-top: 58px;
        padding-top: 54px;
        padding-bottom: 58px;
    }
}

.new-arrival {
    margin-top: 30px;
}

.Product-slider {
    .owl-dots {
        text-align: center;
        margin-top: 25px;

        .owl-dot {
            outline: none;
            box-shadow: none;
            border: none;

            span {
                display: block;
                margin: 0 3.5px;
                border-radius: 50%;
                width: 10px;
                height: 10px;
                background: rgba(#000000, 0.5);
                @include transition(all 0.3s ease-in-out);

                &:hover {
                    background: rgba($seccolor, 1);
                }
            }

            &.active {
                span {
                    background: rgba($seccolor, 1);
                }
            }
        }
    }

    .owl-nav {
        &.owl-nav.disabled {
            display: block !important;

            @include small {
                display: none !important;
            }
        }

        margin: 0;
        position: absolute;
        width: 100%;
        top: 160px;

        .owl-prev {
            position: absolute;
            right: -27px;
        }

        .owl-next {
            position: absolute;
            left: -27px;
        }


        [class*=owl-] {
            span {
                color: $maincolor;
                font-size: 16px;
            }

            margin: 0;
            background-color: transparent;
            outline: none;
            box-shadow: none;
            border: none;

            &:focus {
                background-color: transparent;
                outline: none;
                box-shadow: none;
                border: none;
            }

            &:hover {
                background-color: transparent;
                outline: none;
                box-shadow: none;
                border: none;

                span {
                    color: $seccolor
                }
            }

            &:active {
                background-color: transparent;
                outline: none;
                box-shadow: none;
                border: none;
            }
        }
    }
}

.product {
    width: 262px;
    margin: auto;
    margin-top: 29px;

    .item-img {
        border-radius: 15px;
        background-color: #fff;
        height: 262px;
        overflow: hidden;
        position: relative;

        img {
            @include transition(all 0.3s ease-in-out);
        }

        &:hover {
            .item-img {
                img {
                    transform: scale(1.05);
                }
            }

            .over-btns {
                visibility: visible;
                opacity: 1;
            }

            .mo-addto-icon {
                -webkit-transform: perspective(1px) translateZ(0) translatey(0);
                transform: perspective(1px) translateZ(0) translatey(0);
                opacity: 1;
            }
        }
    }

    .over-btns {
        border-radius: 15px;
        background-color: #fff;
        background-color: rgba($maincolor, 0.102);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        align-items: center;
        justify-content: center;
        display: flex;
        z-index: 9;
        @include transition(all 0.3s ease-in-out);
    }

    .mo-addto-icon {
        background-color: $maincolor;
        border-radius: 50%;
        height: 42px;
        width: 42px;
        margin: 0 2.5px;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        opacity: 0;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0) translatey(160px);
        transform: perspective(1px) translateZ(0) translatey(160px);
        position: relative;
        @include transition(all 0.5s ease-in-out);

        &:before {
            content: "";
            border-radius: 50%;
            position: absolute;
            z-index: -1;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-image: -moz-radial-gradient(50% 50%, circle closest-side, rgb(230, 169, 14) 0%, rgb(209, 133, 5) 100%);
            background-image: -webkit-radial-gradient(50% 50%, circle closest-side, rgb(230, 169, 14) 0%, rgb(209, 133, 5) 100%);
            background-image: -ms-radial-gradient(50% 50%, circle closest-side, rgb(230, 169, 14) 0%, rgb(209, 133, 5) 100%);
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transform-origin: 50%;
            transform-origin: 50%;
            @include transition(all 0.3s ease-in-out);
        }

        &:hover {
            &:before {
                -webkit-transform: scaleX(1);
                transform: scaleX(1)
            }
        }

        span {
            font-size: 20px;
        }



        &.mo-addto-cart {
            width: 141px;
            border-radius: 45px;

            &::before {
                border-radius: 45px;
            }

            span {
                margin-left: 7px;
            }
        }
    }

    .info {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .product-name {
        font-size: 17px;
        color: $maincolor;
        text-align: center;
        margin-top: 16px;
        margin-bottom: 6px;
    }

    .prices {
        font-size: 17px;
        display: flex;
    }

    .price {
        color: $seccolor;
        direction: ltr;
        font-family: itc-bd;
        margin: 0 4.5px;
    }

    .old-price {
        color: #898988;
        text-decoration: line-through;
        direction: ltr;
        margin: 0 4.5px;
    }


    &:hover {
        .item-img {
            img {
                transform: scale(1.05);
            }
        }

        .product-name {
            color: $seccolor;
        }
    }
}


.product {
    .mo-addto-icon {
        &.mo-addto-cart {
            span {
                margin-left: 0;
                margin-right: 7px;
            }
        }
    }






}