// @include transition(all 0.3s ease-in-out);
@mixin transition($transition...) {
    -moz-transition: $transition;
    -o-transition: $transition;
    -webkit-transition: $transition;
    transition: $transition;
}

@mixin transition-property($property...) {
    -moz-transition-property: $property;
    -o-transition-property: $property;
    -webkit-transition-property: $property;
    transition-property: $property;
}

@mixin transition-duration($duration...) {
    -moz-transition-property: $duration;
    -o-transition-property: $duration;
    -webkit-transition-property: $duration;
    transition-property: $duration;
}

// @include mobile{}
@mixin mobile {
    @media (max-width: 767px) {
        @content;
    }
}

// @include small{}
@mixin small {
    @media (max-width: 991px) {
        @content;
    }
}

// @include med{}
@mixin med {
    @media (max-width: 1199px) {
        @content;
    }
}

// @include prefix(transform, rotate(45deg), webkit ms moz o);
@mixin prefix($property, $value, $prefixes: ()) {
    @each $prefix in $prefixes {
        #{'-' + $prefix + '-' + $property}: $value;
    }

    // Output standard non-prefixed declaration
    #{$property}: $value;
}