body {
    font-family: itc;

    &::-webkit-scrollbar {
        background-color: #f7f7f7;
        width: 8px;
        height: 0;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(#eec669, 0.5);

        &:hover {
            background-color: rgba(#eec669, 1);
        }
    }
}

html {
    scrollbar-width: thin;
    scrollbar-color: rgba(#eec669, 0.75) #f7f7f7;
}

.fixall {
    outline: none;
    box-shadow: none;
    border: none;
    text-decoration: none;
    padding: 0;
    margin: 0;

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
    }
}

.overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: transparent;
    opacity: 0;
    z-index: 5;
    display: none;
}