.header-sec {
    padding-top: 10px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-image: url("../images/header-pattern.png");

    .header {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: space-between;

        @include small {
            flex-direction: column;
        }
    }

    .lang {
        left: 0;
        top: 8px;
        font-size: 13px;
        color: #c2c2c2;
        position: absolute;
        font-family: itc-md;
        text-transform: uppercase;
        @include transition(all 0.3s ease-in-out);

        @include small {
            display: none;
        }

        &:hover {
            color: $seccolor;
        }
    }

    .mo-user-nav {
        width: 282px;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: flex-end;

        @include small {
            width: auto;
            margin-top: 25px;
        }

        @include mobile {
            width: 100%;
            justify-content: center;
        }
    }

    .mo-user-icon {
        display: flex;
        font-size: 20px;
        color: $maincolor;
        margin-right: 28px;
        align-items: center;
        @include transition(all 0.3s ease-in-out);

        &:first-of-type {
            margin-right: 0;
        }

        &:hover {
            color: $seccolor;
        }
    }

    .mo-menu-icon {
        display: none;

        @include small {
            display: flex;
        }
    }

    .mo-log-icon {
        .log {
            margin-right: 8px;
            font-size: 16px;

            @include small {
                display: none
            }
        }
    }

    .mo-search-icon {
        position: relative;
        margin-right: 28px !important;
        z-index: 9;

        &::before {
            content: "\e86f";
            //content: "\e870";
            font-family: 'Linearicons-Free';
            @include transition(all 0.3s ease-in-out);
        }
    }

    .search-open {
        &::after {
            content: "";
            width: 0;
            height: 0;
            display: block;
            border-width: 10px;
            border-color: transparent transparent #fff;
            border-style: solid;
            bottom: -10px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        &::before {
            content: "\e870";
            color: $seccolor;
            @include transition(all 0.3s ease-in-out);
        }
    }
}